<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span class="footer-brand">{{ site.title }}</span>
            </div>
            <div class="footer-menu-list col-md-2">
                <p class="footer-menu-title">会社情報</p>
                <ul>
                    <li><a href="http://www.timedia.co.jp/company/about-tim/" target=”_blank”>運営会社</a></li>
                </ul>
            </div>
            <div class="footer-menu-list col-md-2">
                <p class="footer-menu-title">プロダクト</p>
                <ul>
                    <li><a class="nav-link" href="{{ '/faq.html' | relative_url }}">FAQ</a></li>
                    <li><a class="nav-link" href="#">ダウンロード</a></li>
                    <li><a class="nav-link" href="{{ '/blog.html' | relative_url }}">ニュース&amp;ブログ</a></li>
                </ul>
            </div>
            <div class="footer-menu-list col-md-2">
                <p class="footer-menu-title">その他</p>
                <ul>
                    <li><a href="https://www.timedia.co.jp/contact/" target=”_blank”>お問い合わせ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        &copy; 2018 {{ site.author.name }}
    </div>
</footer>