
body {
    font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    color: $color-font;
}

.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-title {
    padding-bottom: 0.85rem;
    margin: 0;
    text-align: center;
}

.section-title-caption { 
    margin-bottom: 2rem;
}

.section-title-border {
    display: block;
    width: 70px;
    height: 7.5px;
    background-color: $color-orange;
    margin: 0 auto 1rem;
    border-radius: 3.75px;
}