
body {
    font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    color: $color-font;
}

.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-title {
    padding-bottom: 0.85rem;
    margin: 0;
    text-align: center;
}

.section-title-caption { 
    margin-bottom: 2rem;
}

.section-title-border {
    display: block;
    width: 70px;
    height: 7.5px;
    background-color: $color-orange;
    margin: 0 auto 1rem;
    border-radius: 3.75px;
}

.container {
    margin: auto;
}

p {
    margin: 0;
}

h2.sunbpage-title {
    font-size: 1.8rem;
    color: $color-font-white;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, .5);

    @media (min-width: $md-min-width) {
        font-size: 2.5rem;
    }

    @media (min-width: $lg-min-width) {
        font-size: 3rem;
    }
}

/*--------------------------------------------------------------------------------------------------------------------
   @group catch
---------------------------------------------------------------------------------------------------------------------*/

.catch {
    background-image: linear-gradient(-135deg, rgba(12, 98, 135, 0.22) 0%, rgba(61, 45, 234, 0.21) 100%), url(../puzzle.gr.jp/images/header/home-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 7rem;

    .container {
        text-align: center;
        padding-top: 15rem;;

        h1 {
            color: $color-font-white;
            font-weight: bold;
            text-shadow: 0 0 30px rgba(0, 0, 0, .5);
            margin-bottom: 1rem;

            @media (min-width: $md-min-width) {
                font-size: 3rem;
            }

            @media (min-width: $md-min-width) {
                font-size: 4rem;
            }
        }

        p {
            color: $color-font-white;
            text-shadow: 0 0 15px rgba(0, 0, 0, .5);
            margin-bottom: 1rem;
            @media (min-width: $lg-min-width) {
                font-size: 1.2rem;
            }
        }

        a.btn {
            background-color: $color-orange;
            color: $color-font-white;
            font-weight: bold;

            @media (min-width: $md-min-width) {
                font-size: 1.25rem;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        }
    }

    &.subpage,
    &.blog,
    &.faq {
        background-image: none;
        background-color: $color-blue;
        padding-bottom: 0;

        .container {
            padding-top: 11rem;

        }
    }
}