$md-min-width: 768px;
$lg-min-width: 992px;
$xl-min-width: 1200px;

$color-font: #24282F;
$color-font-white: rgba(#ffffff, 0.85);
$color-font-gray: #888;

$color-orange: #ff6908;
$color-blue: #1da1db;