---
layout: default
---

<header class="page-header blog-header">

  {%- include navbar.html -%}

  <div class="container">
      <h1>ニュース &amp; ブログ</h1>
      <p>PUZZLE GENERATOR JAPAN の様々な情報をお届けします。</p>
  </div>

</header>

<div class="row container blog-page">

  <div class="col-lg-9">
    <div class="blog-article-header">
        <span class="blog-article-date">{{ page.date | date: '%Y-%m-%d' }}</span>
        <span class="blog-article-category">{{ page.tags }}</span>
        <h3>{{ page.title }}</h3>
    </div>
    <div class="blog-article article">

        {{ content }}

    </div>
  </div>

  {%- include blog-side-nav.html -%}
  
</div>