---
layout: default
---

<header class="page-header blog-header">

  {%- include navbar.html -%}

  <div class="container">
      <h1>ニュース &amp; ブログ</h1>
      <p>PUZZLE GENERATOR JAPAN の様々な情報をお届けします。</p>
  </div>

</header>

<div class="row container blog-article">
  <div class="col-lg-9">
    <a class="blog-list-link" href="{{ '/blog.html' | relative_url }}">>> ニュース &amp; ブログ一覧にもどる</a>
    <div class="blog-article-header">
      <div class="row">
        <div class="col-6">
          <span class="blog-tag">{{ page.tags }}</span>
        </div>
        <div class="col-6 blog-date-wrapper">
          <span class="blog-date">{{ page.date | date: '%Y-%m-%d' }}</span>
        </div>
      </div>
      <h1>{{ page.title }}</h1>
    </div>
    <div class="blog-post">
    {{ content }}
    </div>
  </div>

  {%- include blog-side-nav.html -%}

</div>