---
layout: default
---

<div class="catch blog">

  {%- include header.html -%}

  <div class="container">
      <h2 class="sunbpage-title">ニュース &amp; ブログ</h2>
      <p>PUZZLE GENERATOR JAPAN の様々な情報をお届けします。</p>
  </div>

</div>

<div class="row container">
  <div class="col-lg-9">
    <div class="blog-article-header">
        <span class="blog-article-date">{{ page.date | date: '%Y-%m-%d' }}</span>
        <span class="blog-article-category">{{ page.tags }}</span>
        <h3>{{ page.title }}</h3>
    </div>
    <div class="blog-article article">

        {{ content }}

    </div>
  </div>
  <div class="col-lg-3 blog-side-nav">

      <div class="blog-side-nav-category">
          <h3 class="blog-side-nav-title"><a href="{{ site.baseurl }}/tags">Tags</a></h3>
          {%- include tag_cloud.html -%}

      </div>

      <div class="blog-side-nav-archive">
          <h3 class="blog-side-nav-title"><a href="{{ site.baseurl }}/Archive">Archive</a></h3>
          {%- include post_archive.html -%}
      </div>

  </div>
</div>